body {
    background-color: rgb(211, 241, 223);
}

h1 {
    text-align: center;
    color: rgb(82, 91, 68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

h2 {
    color: rgb(82, 91, 68);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

p {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    text-decoration: none;
    color:rgb(211, 255, 170)
}

nav li {
    background-color: rgb(107, 112, 5);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
}

.floating-bear {
    position: fixed;
    bottom: 0; 
    right: 0;  
    z-index: 1000; 
}

.floating-bear img {
    width: 100px; 
    border-radius: 50%; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transition: border-radius 0.3s ease, transform 0.3s ease; 
}

.floating-bear :hover{
    border-radius: 0%;

}

img {
    width: 200px;
    display: block;
    box-shadow: 0px 0px 5px #4a4a4a;
}

header {
    background-color: #8fdea3;
    display: block;
}

div ul {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
}
